<h1>Deploy Next ASG for Cluster '{{clusterName}}'</h1>
<div class="twbs">
  <div class="alert alert-danger" ng-show="validationErrors">
    <strong>Validation Errors!</strong>
    <div ng-repeat="error in validationErrors">{{error}}</div>
  </div>

  <div ng-class="{concealed: deploymentOptions !== undefined}">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 55%"></div>
    </div>
  </div>
  <div class="deployment" ng-class="{concealed: deploymentOptions === undefined}">
    <div class="buttons">
      <button class="deploy" ng-click="startDeployment()" ng-disabled="startingDeployment"><div>Deploy '{{environment.nextGroupName}}'</div></button>
    </div>
    <div class="well">
      <div class="row">
        <div ng-class="{hideAdvancedItems: hideAdvancedItems}" class="pull-right">
          <span class="toggle fakeLink" ng-click="toggleAdvanced()">Advanced Options</span>
        </div>
        <h3>{{environment.nextGroupName}}</h3>
      </div>

      <div class="generalOptions container" collapse="hideAdvancedItems">
        <div class="row">
          <div class="col-md-3">
            <label>VPC:</label>
          </div>
          <div class="col-md-9">
            <div>
              <input type="radio" ng-model="asgOptions.subnetPurpose" value="" id="subnetPurpose_"/>
              <label for="subnetPurpose_" class="choice">Launch non-VPC instances</label>
            </div>
            <div ng-repeat="purpose in environment.subnetPurposes">
              <input type="radio" ng-model="asgOptions.subnetPurpose" value="{{purpose}}" id="subnetPurpose_{{purpose}}"/>
              <label for="subnetPurpose_{{purpose}}" class="choice">Launch '{{purpose}}' VPC instances</label>
            </div>
          </div>
        </div>
      </div>

      <div class="launchConfigOptions container">
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-12"><h4>Launch Configuration</h4></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label for="imageId">AMI Image ID:</label></div>
          <div class="col-md-9">
            <select id="imageId" ng-model="lcOptions.imageId"
                                        ng-options="opt.id as opt.imageLocation + ' | ' + opt.id for opt in environment.images">
            <option value="">Select Image</option>
            </select>&nbsp;<span ng-hide="hideShowMoreAmisLink || hideAdvancedItems" class="fakeLink" ng-click="retrieveAllAmis()">Show more AMIs</span>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="instanceType"><a href="/us-west-1/instanceType/list">Instance Type:</a></label>
          </div>
          <div class="col-md-9">
            <select id="instanceType" ng-model="lcOptions.instanceType"
                    ng-options="opt.id as opt.id + ' ' + opt.price for opt in environment.instanceTypes">
            </select>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="key">SSH Key:</label>
          </div>
          <div class="col-md-9">
            <select id="key" ng-model="lcOptions.keyName" ng-options="opt for opt in environment.keys"></select>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="securityGroups">Security Groups:</label>
          </div>
          <div class="col-md-9">
            <div class="selectedValues"><div ng-repeat="selectedSecurityGroupName in selectedSecurityGroupNames">{{selectedSecurityGroupName}}</div></div>
            <select id="securityGroups"  multiple="multiple" size="10"
                    ng-model="selectionsForSubnet[asgOptions.subnetPurpose].securityGroups"
                    ng-options="opt.id as opt.name for opt in environment.securityGroups | filter:{vpcId: vpcId}:true">
              <option value="">Select Security Groups</option>
            </select>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label>Pricing:</label>
          </div>
          <div class="col-md-9">
            <div>
              <input type="radio" ng-model="lcOptions.instancePriceType" value="ON_DEMAND" id="onDemand"/>
              <label for="onDemand" class="choice">On Demand</label>
            </div>
            <div>
              <input type="radio" ng-model="lcOptions.instancePriceType" value="SPOT" id="spot"/>
              <label for="spot" class="choice">Spot (with On-Demand price bid)</label>
              &nbsp;<a href="{{environment.spotUrl}}">What's this?</a>
            </div>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="kernelId">Kernel ID:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="kernelId" ng-model="lcOptions.kernelId"/>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="ramdiskId">Ram Disk ID:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="ramdiskId" ng-model="lcOptions.ramdiskId"/>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label for="iamInstanceProfile">IAM Instance Profile:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="iamInstanceProfile" ng-model="lcOptions.iamInstanceProfile"/>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label>Associate Public IP Address:</label>
          </div>
          <div class="col-md-9">
              <input type="radio" ng-model="lcOptions.associatePublicIpAddress" ng-value="true" id="associatePublicIpAddressTrue"/>
              <label for="associatePublicIpAddressTrue" class="choice">Yes</label>
              <input type="radio" ng-model="lcOptions.associatePublicIpAddress" ng-value="false" id="associatePublicIpAddressFalse"/>
              <label for="associatePublicIpAddressFalse" class="choice">No</label>
              <input type="radio" ng-model="lcOptions.associatePublicIpAddress" ng-value="null" id="associatePublicIpAddressDefault"/>
              <label for="associatePublicIpAddressDefault" class="choice">Default</label>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label>Instance Monitoring:</label>
          </div>
          <div class="col-md-9">
              <input type="radio" ng-model="lcOptions.instanceMonitoringIsEnabled" ng-value="true" id="instanceMonitoringIsEnabledTrue"/>
              <label for="instanceMonitoringIsEnabledTrue" class="choice">Enabled</label>
              <input type="radio" ng-model="lcOptions.instanceMonitoringIsEnabled" ng-value="false" id="instanceMonitoringIsEnabledFalse"/>
              <label for="instanceMonitoringIsEnabledFalse" class="choice">Disabled</label>
          </div>
        </div>
        <div class="row" collapse="hideAdvancedItems">
          <div class="col-md-3">
            <label>EBS Optimized:</label>
          </div>
          <div class="col-md-9">
              <input type="radio" ng-model="lcOptions.ebsOptimized" ng-value="true" id="ebsOptimizedTrue"/>
              <label for="ebsOptimizedTrue" class="choice">Yes</label>
              <input type="radio" ng-model="lcOptions.ebsOptimized" ng-value="false" id="ebsOptimizedFalse"/>
              <label for="ebsOptimizedFalse" class="choice">No</label>
          </div>
        </div>
      </div>

      <div class="autoScalingGroupOptions container" collapse="hideAdvancedItems">
        <div class="row">
          <div class="col-md-12"><h4>Auto Scaling Group</h4></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label for="imageId">Instance Bounds:</label></div>
          <div class="col-md-9 numbers">
            <label for="min">Min:</label> <input type="text" class="number" id="min" ng-model="asgOptions.minSize"/>
            <label for="max">Max:</label> <input type="text" class="number" id="max" ng-model="asgOptions.maxSize"/>
          </div>
        </div>
        <div class="row" title="The method that the group will use to decide when to replace a problematic instance">
          <div class="col-md-3">
              <label for="healthCheckType">ASG Health Check Type:</label>
            </div>
          <div class="col-md-9">
            <select id="healthCheckType" ng-model="asgOptions.healthCheckType"
                ng-options="opt.id as opt.id + ' (' + opt.description + ')' for opt in environment.healthCheckTypes">
            </select>
          </div>
        </div>
        <div class="row" title="The number of seconds to wait after instance launch before running the health check">
          <div class="col-md-3">
              <label for="healthCheckGracePeriod">ASG Health Check Grace Period:</label>
          </div>
          <div class="col-md-9">
              <input type="text" class="number" id="healthCheckGracePeriod" ng-model="asgOptions.healthCheckGracePeriod"/> seconds
          </div>
        </div>
          <div class="row" title="The number of seconds after a scaling activity completes before any further scaling activities can start">
            <div class="col-md-3">
              <label for="defaultCooldown">Cooldown:</label>
          </div>
          <div class="col-md-9">
              <input type="text" class="number" id="defaultCooldown" ng-model="asgOptions.defaultCooldown"/> seconds
          </div>
        </div>
        <div class="row" title="The algorithm to use when selecting which instance to terminate">
          <div class="col-md-3">
            <label for="terminationPolicy">Termination Policy:</label>
        </div>
          <div class="col-md-9">
            <select id="terminationPolicy" ng-model="asgOptions.terminationPolicies[0]"
                    ng-options="opt for opt in environment.terminationPolicies"></select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="availabilityZones">AvailablityZones:</label>
          </div>
          <div class="col-md-9">
            <select id="availabilityZones"  multiple="multiple" size="5"
                    ng-model="selectionsForSubnet[asgOptions.subnetPurpose].availabilityZones"
                    ng-options="opt.zone as opt.zone for opt in environment.availabilityZonesAndPurpose | filter:{purpose: asgOptions.subnetPurpose}:true">
              <option value="">Select Zones</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>AZ Rebalancing:</label>
          </div>
          <div class="col-md-9">
              <input type="radio" ng-model="suspendAZRebalance" ng-value="false" id="suspendAZRebalanceFalse"/>
              <label for="suspendAZRebalanceFalse" class="choice">Keep Zones Balanced</label>
              <input type="radio" ng-model="suspendAZRebalance" ng-value="true" id="suspendAZRebalanceTrue"/>
              <label for="suspendAZRebalanceTrue" class="choice">Do Not Rebalance Zones</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Initial Traffic to Instances:</label>
          </div>
          <div class="col-md-9">
              <input type="radio" ng-model="suspendAddToLoadBalancer" ng-value="false" id="suspendAddToLoadBalancerTrue"/>
              <label for="suspendAddToLoadBalancerTrue" class="choice">Allow</label>
              <input type="radio" ng-model="suspendAddToLoadBalancer" ng-value="true" id="suspendAddToLoadBalancerFalse"/>
              <label for="suspendAddToLoadBalancerFalse" class="choice">Prevent</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Load Balancers<br/>(cannot be added or removed later):</label>
          </div>
          <div class="col-md-9">
            <div class="selectedValues"><div ng-repeat="selectedLoadBalancerName in selectionsForSubnet[asgOptions.subnetPurpose].loadBalancerNames">{{selectedLoadBalancerName}}</div></div>
            <select id="loadBalancers"  multiple="multiple" size="10"
                    ng-model="selectionsForSubnet[asgOptions.subnetPurpose].loadBalancerNames"
                    ng-options="opt.id as opt.id for opt in environment.loadBalancers | filter:{vpcId: vpcId}:true">
              <option value="">Select Load Balancers</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="deploymentOptions container">
        <div class="row">
          <div class="col-md-12">
            <h3>Deployment Configuration</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="notificationDestination">Notifications will be sent to:</label>
          </div>
          <div class="col-md-9">
            <input type="text" ng-model="deploymentOptions.notificationDestination" id="notificationDestination" />
          </div>
        </div>
        <div class="row">
          <div ng-class="{hideAdvancedItems: hideJsonSteps}" class="pull-right">
            <span class="toggle fakeLink" ng-click="toggleJsonSteps()">JSON</span>
          </div>
          <h4>Steps</h4>
        </div>
        <div class="steps">
          <div class="alert alert-danger" ng-show="jsonStepsParseError">
            <div>{{jsonStepsParseError}}</div>
          </div>
          <div ng-hide="hideJsonSteps">
            <textarea ng-focus="editJsonSteps()" ng-blur="saveJsonSteps()" ng-model="generated.jsonSteps"
                      rows="10" cols="100"></textarea>
          </div>
          <div ng-hide="hideHtmlSteps" class="animate-repeat" ng-repeat="(stepIndex, step) in generated.stepsDisplay">
            <div class="buttonPanel" ng-if="step.showSteps === false" ng-click="toggleShowStepTypes(stepIndex)">
              <button type="button" class="insert btn btn-default">Insert Step</button>
            </div>
            <div class="buttonPanel" ng-if="step.showSteps === true">
                <button ng-repeat="stepTypeName in stepTypeNames" type="button" class="btn btn-default"
                        ng-if="isStepAllowed(stepTypeName, stepIndex)"
                        ng-click="addStep(stepTypeName, stepIndex)">{{stepTypeDisplay(stepTypeName)}}</button>
            </div>
            <div ng-if="step.type" class="step panel panel-primary" ng-include="stepUrl(step.type)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>