<div class="panel-heading">
  <h4 class="wait">Wait</h4>
  <div ng-hide="readOnlyDeploymentSteps" class="removeStep" ng-click="removeStep($index)"></div>
  <div ng-if="getStepStatus($index) === 'running'" class="waiting"></div>
</div>
<div ng-hide="readOnlyDeploymentSteps" class="panel-body numbers">
  Wait
  <input ng-disabled="readOnlyDeploymentSteps" type="text" ng-model="step.durationMinutes" />
  minutes.
</div>
<div ng-show="readOnlyDeploymentSteps" class="panel-body">
  <div class="logMessage" ng-repeat="logMessage in getLogForStep($index)">{{logMessage}}</div>
</div>
